{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    
    <title>Döntés</title>
</head>
<body>
    <div id="adatok">
        <h1>{{diakok.first.nev}}</h1>
        {% for diak in diakok %}
            <div>A(z) {{diak.szak}} szakon {{diak.pont}} pontot ért el. {{diak.megfeleltt}} </div>
            <div></div>
        {% endfor %}
        
    </div>
</body>
</html>