{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Hibás azonosító!</title>
</head>
<body >
    <div id="hibas">
        <h1 >Hibás azonosító!</h1>
        <a href="javascript&colon;history.go(-1)"><img src="{% static 'imagine/vissza.jpg' %}" alt="Újra beírom" width="20" height="20"></a>
    </div>
</body>
</html>